.head{
    background-color: black;
    padding:5%;
    border-radius: 100px;
    margin: 2%;
    border:10px solid teal;
}
.profile{
    width: 350px;
    height: 350px;
    border: 3px solid gold;
}
.text{
    color: white;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    font-size: 3vw;
}
.bar{
    background-color: teal;
    color:coral;
    font-size: 1.3vw;
    padding: 0.7%;
}